<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Email - Mooral</title>
</head>

<body>
    <p>To change your email address, please click the link below:</p>
    <p><a th:href="@{${url}}">Change your email</a></p>
    <p>This link will expire in <span th:text="${lifetime}"></span>.</p>
    <p>If you did not request an email change, you can safely ignore this email.</p>
</body>

</html>