<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Mooral</title>
</head>

<body>
    <p>To reset your password, please click the link below:</p>
    <p><a th:href="@{${url}}">Reset your password</a></p>
    <p>This link will expire in <span th:text="${lifetime}"></span>.</p>
    <p>If you did not request a password reset, you can safely ignore this email.</p>
</body>

</html>